#gameContainer {
    font-family: cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameBoard {
    border: 2px solid;
}

#scoreText {
    font-size: 50px;
    margin: 10px 0;
}

#resetBtn {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: darkturquoise;
    color: yellow;
    cursor: pointer;
    display: inline-block;
}

#resetBtn:hover {
    opacity: 0.8;
}

#resetBtn:active {
    opacity: 0.6;
}

#btnContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 30px;

}

#btnUp {
    grid-column-start: 2;
}

#btnDown {
    grid-column-start: 2;
}

#btnLeft {
    grid-column-start: 1;
}

#btnRight {
    grid-column-start: 3;
}

.movementBtns {
    border: none;
    border-radius: 10px;
    background-color: rgb(209, 0, 167);
    color: rgb(103, 253, 83);
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
